{% extends 'base.html.twig' %}

{% block title %}Hello ChronoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>{{ texte }}</p>
    <p>{{ texte1 }}</p>

    <a href="stop-chrono" class="btn">STOP !!!!!</a>
</div>
{% endblock %}
